body{
    font-family: 'Be Vietnam',sans-serif;
}
.landing-section{
    padding: 2% 5%;
    background-image: url('./images/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-position: top -58% right -19%;
    background-size: 41rem;
}
.landing-intro{
    display: flex;
    padding: 5% 0;
}
.content-intro{
    max-width: 450px;
    padding: 8% 1.6%;
}
 h1, h3{
    color:hsl(228, 39%, 23%);
}
 p{
    color:hsl(227, 12%, 61%)
}
.illustration-intro{
    margin-left: auto;
}
button.btn-action{
    border-radius: 32px;
    box-shadow: 1px 1px 6px gray;
    background-color: hsl(12, 88%, 59%);
    border: 0;
    color: hsl(0, 0%, 98%);
    padding: 10px 20px;;
}
button.btn-action:hover{
    opacity: 0.6;
    cursor: pointer;
}

/* Why manage section */
.why-manage{
    padding: 2% 5%;
    display: flex;
}
.reason{
    display: flex;
}
.reason .reason-text{
    padding-left: 32px;
}
.reason-label-btn{
    padding: 4px 21px;
    border-radius: 16px;
    box-shadow: 1px 1px 6px gray;
    background-color: hsl(12, 88%, 59%);
    border: 0;
    color: hsl(0, 0%, 98%);
}